.input-height {
    min-height: 34px;
}

.datepicker-input {
}


/*moment-picker mods*/
/********************/
.moment-picker td.selected {
    background: #30A8F0;
}

.moment-picker .moment-picker-container:before, .moment-picker .moment-picker-container:after {
    left: initial;
    right: 15px;
}
/********************/

.md-datepicker-expand-triangle {
    left: 15 !important;
    color: gray;
}
