<html dir="rtl" lang="en" ng-app="RangeApp">

<head>
    <!-- Angular Material style sheet -->
    <link href="../css/angular-moment-picker.css" rel="stylesheet">
    <link href="../css/materialdesignicons.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.css">


    <meta name="viewport" content="initial-scale=1" />
</head>

<body layout="column" ng-controller="AppCtrl as ctrl">
    
    <date-picker ng-model="ctrl.date" required></date-picker>
    {{ctrl.date}}
    
<!--<span moment-picker="ctrl.pickerDate"
                                      change="ctrl.change(newValue, oldValue)" 
                                      format="{{ctrl.format}}"
                                      locale="{{ctrl.locale}}"  
                                      max-view="month"
                                      start-view="month">
    click here to select date!
        </span>
    <ng-form name="daterange" layout="row" layout-align="start center">
        
        <md-input-container>
            
            <label>תאריך התחלה</label>

            <div class="input-height" >
                <input name="start" type="text"
                                    ng-model="ctrl.pickerDate" 
                                    ng-model-options="{ updateOn: 'blur' }"
                                    ng-change="ctrl.change(ctrl.pickerDate, '{{ctrl.pickerDate}}')" >
            </div>

        </md-input-container>

    </ng-form>-->


    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.3/angular-locale_he.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment-with-locales.js"></script>
    <script src="scripts/angular-moment-picker.js"></script>
    <script src="app.js"></script>
    <script src="datePicker/datePicker.js"></script>
    <script src="datePicker/modelPipe.drv.js"></script>
    
</body>

</html>